<form novalidate="" name="form" role="form">

    <div class="modal-header">
        <h4 class="modal-title">{{vm.item.firstname}} {{vm.item.lastname}} <i class="fa fa-asterisk fa-pull-right red-text" ng-show="form.$dirty"></i></h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="control-label">First Name</label>

                    <input type="text" class="form-control" name="firstname" ng-model="vm.item.firstname" ng-change="vm.matchValue()"
                           ng-required="true"
                           ng-pattern="/^[a-zA-Z, .`-]*$/"
                           ng-minlength="2"
                           ng-maxlength="50"
                           ng-class="{error: form.firstname.$invalid}" />
                    <span ng-messages="form.firstname.$error" ng-show="form.firstname.$invalid" class="has-error">
                        <span class="help-block text-danger" ng-message="required">Required</span>
                        <span class="help-block text-danger" ng-message="minlength">Too short</span>
                        <span class="help-block text-danger" ng-message="maxlength">Too long</span>
                        <span class="help-block text-danger" ng-message="pattern">Invalid characters</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">

                    <label for="" class="control-label">Last Name</label>
                    <input type="text" name="lastname" class="form-control" ng-model="vm.item.lastname" ng-change="vm.matchValue()"
                           ng-required="true"
                           ng-pattern="/^[a-zA-Z, .`-]*$/"
                           ng-minlength="2"
                           ng-maxlength="50"
                           ng-class="{error: form.lastname.$invalid && !form.lastname.$pristine}" />
                    <span ng-messages="form.lastname.$error" ng-show="form.lastname.$invalid" class="has-error">
                        <span class="help-block text-danger" ng-message="required">Required</span>
                        <span class="help-block text-danger" ng-message="minlength">Too short</span>
                        <span class="help-block text-danger" ng-message="maxlength">Too long</span>
                        <span class="help-block text-danger" ng-message="pattern">Invalid characters</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="" class="control-label">Email</label>
                <input type="email" name="email" class="form-control" ng-model="vm.item.emailAddress">
                <span ng-messages="form.email.$error" ng-show="form.email.$invalid" class="has-error">
                    <span class="help-block text-danger" ng-message="email">Invalid email address</span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="control-label">Zipcode</label>
                    <input type="text" name="zipcode" class="form-control" ng-model="vm.item.zipcode" ng-pattern="/^[0-9]*$/">
                    <span ng-messages="form.zipcode.$error" ng-show="form.zipcode.$invalid" class="has-error">
                        <span class="help-block text-danger" ng-message="pattern">Must be numeric 0-9</span>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="control-label">Fuzzy Match</label>
                    <input type="text" class="form-control" readonly="readonly" value="{{vm.item.fuzzyMatchValue | percentage: 1}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <switcher ng-model="vm.item.isDonor" true-label="Donor"
                              false-label="Not Donor"></switcher>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <switcher ng-model="vm.item.isPriority" true-label="Priority"
                              false-label="Not Priority"></switcher>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="vm.close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="vm.save()" ng-disabled="(form.$invalid || !form.$dirty) && form.$invalid">Save changes</button>
    </div>
</form>