@{
    ViewBag.Title = "Censors";
}
<div ng-controller="CensorController as vm" ng-cloak>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">{{vm.title}}</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <p class="input-group">

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>

                <div class="col-md-12">
                    <table st-table="vm.censors" st-pipe="vm.search" class="table table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Word</th>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input st-search="searchTerm" st-clear-key class="form-control" type="text" placeholder="Word" /></td>
                                <td>
                                    <div class="pull-right">
                                        <button class="btn btn-default" ng-click="vm.create()"><i class="fa fa-plus"></i> Add Word</button>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="censor in vm.censors">
                                <td>
                                    <span ng-hide="vm.currentEdit[censor.id]">{{censor.word}}</span>
                                    <input type="text" class="form-control" ng-model="censor.word" ng-show="vm.currentEdit[censor.id]" />
                                </td>
                                <td style="text-align: right;">
                                    <button class="btn bg-default" ng-hide="vm.currentEdit[censor.id]" ng-click="vm.editItem(censor)">Edit</button>
                                    <button class="btn btn-danger" ng-hide="vm.currentEdit[censor.id]" ng-click="vm.deleteItem(censor)">Delete</button>

                                    <button class="btn btn-success" ng-show="vm.currentEdit[censor.id]" ng-click="vm.saveItem(censor)">Save</button>
                                    <button class="btn btn-warning" ng-show="vm.currentEdit[censor.id]" ng-click="vm.cancelEdit(censor.id)">Cancel</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>