@{
    ViewBag.Title = "Profile";
}

<div ng-controller="ProfileController as vm" ng-cloak>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{vm.title}}
            <small>{{vm.description}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Profile</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">

            <div class="col-md-4">
                <div class="box box-warning box-solid">
                    <div class="box-header">
                        User Information
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <form name="profileForm">
                            <div class="form-group">
                                <label for="" class="control-label">Full Name</label>
                                <input type="text" name="fullName" class="form-control" ng-model="vm.user.fullName">
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label">Email</label>
                                <input type="email" name="email" class="form-control" ng-model="vm.user.email">
                            </div>

                            <button class="btn btn-success" ng-click="vm.save()">Save</button>
                        </form>
                    </div><!-- /.box-body -->
                    <div class="overlay" ng-show="vm.isBusy">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div><!-- /.box -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="box box-primary box-solid">
                    <div class="box-header">
                        Avatar
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="text-center">

                            <div>
                                @*<input type="file" name="myImage" image-with-preview
                                    ng-model="vm.image"
                                    accept="image/jpeg,image/png"
                                    dimensions="height < 400 && width < 1800 && width > 2 * height">*@

                                <input type="file" ng-model="vm.file" />
                                <img ng-show="vm.image.src" ng-src="{{vm.image.src}}" />
                                <gfl-text-avatar size="160" class="img-circle" ng-hide="vm.image.src">@(ViewData["FullName"])</gfl-text-avatar>

                                <button class="btn" ng-click="vm.saveAvatar()">Save</button>
                            </div>

                            <div>

                                @*<gfl-text-avatar size="160" class="img-circle" ng-hide="vm.flow.files[0]">@(ViewData["FullName"])</gfl-text-avatar>*@

                                <span class="pull-right">
                                </span>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="box box-success box-solid">
                    <div class="box-header">
                        Roles <span class="badge">{{vm.user.roles.length}}</span>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="role in vm.user.roles">{{role}}</li>
                        </ul>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </section>
    <!-- /.content -->
</div>