@{
    ViewBag.Title = "Settings";
}
<div ng-controller="SettingsController as vm" ng-cloak>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <span class="panel-title">{{vm.title}}</span>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <label class="control-lable">Volume</label>
                    <rzslider rz-slider-model="vm.config.volume"
                              rz-slider-options="{floor: 0, ceil: 100}"></rzslider>
                </li>
                <li class="list-group-item">
                    <label class="control-lable">Min Max FontSize</label>
                    <rzslider rz-slider-model="vm.config.minFontSize"
                              rz-slider-high="vm.config.maxFontSize"
                              rz-slider-options="{floor: 1, ceil: 40}"></rzslider>
                </li>
                <li class="list-group-item">
                    <label class="control-lable">kioskEntryTopMargin</label>
                    <rzslider rz-slider-model="vm.config.kioskEntryTopMargin"
                              rz-slider-options="{floor: 0, ceil: 1000}"></rzslider>
                </li>
                <li class="list-group-item">
                    <label class="control-lable">screenBottomMargin</label>
                    <rzslider rz-slider-model="vm.config.screenBottomMargin"
                              rz-slider-options="{floor: 0, ceil: 100}"></rzslider>
                </li>
                <li class="list-group-item">
                    <label class="control-lable">generalRotationDelay</label>
                    <rzslider rz-slider-model="vm.config.generalRotationDelay"
                              rz-slider-options="{floor:0.0, ceil:10.0, step:0.01, precision:2}"></rzslider>
                </li>
                <li class="list-group-item">
                    <label class="control-lable">priorityRotationDelay</label>
                    <rzslider rz-slider-model="vm.config.priorityRotationDelay"
                              rz-slider-options="{floor:0.0, ceil:10.0, step:0.1, precision:1}"></rzslider>
                </li>
                <li class="list-group-item">
                    <label class="control-lable">kioskDisplayRecycleCount</label>
                    <rzslider rz-slider-model="vm.config.kioskDisplayRecycleCount"
                              rz-slider-options="{floor: 0, ceil: 10}"></rzslider>
                </li>
                <li class="list-group-item">
                    <label class="control-lable">growAnimationDuration</label>
                    <rzslider rz-slider-model="vm.config.growAnimationDuration"
                              rz-slider-options="{floor: 0, ceil: 20}"></rzslider>
                </li>
                <li class="list-group-item">
                    <label class="control-lable">shrinkAnimationDuration</label>
                    <rzslider rz-slider-model="vm.config.shrinkAnimationDuration"
                              rz-slider-options="{floor: 0, ceil: 20}"></rzslider>
                </li>
                <li class="list-group-item">
                    <label class="control-lable">fallAnimationDurationTimeModifier</label>
                    <rzslider rz-slider-model="vm.config.fallAnimationDurationTimeModifier"
                              rz-slider-options="{floor: 0, ceil: 30}"></rzslider>
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" ng-click="vm.save()">Save</button>
            <button class="btn btn-primary" ng-click="vm.undo()">Undo</button>
        </div>
    </div>
</div>