<!DOCTYPE html>
<html ng-app="app" ng-cloak>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CRMC Administration</title>

    <link href="~/lib/bootswatch-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome-bower/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/angularjs-slider/dist/rzslider.min.css" rel="stylesheet" />
    <link href="~/lib/ng-tags-input/ng-tags-input.min.css" rel="stylesheet" />
    <link href="~/lib/angular-switcher/dist/angular-switcher.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    @Html.Partial("_MainHeaderNavbar")

    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootswatch-dist/js/bootstrap.min.js"></script>
    <script src="~/lib/lodash/lodash.min.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>

    <!-- Vendor Libraries -->
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-messages/angular-messages.min.js"></script>
    <script src="~/lib/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="~/lib/angularjs-slider/dist/rzslider.min.js"></script>
    <script src="~/lib/ng-tags-input/ng-tags-input.min.js"></script>
    <script src="~/lib/angular-switcher/dist/angular-switcher.min.js"></script>

    <!-- App -->
    <script src="~/app/app.module.js"></script>
    <script src="~/app/core/core.module.js"></script>
    <script src="~/app/services/service.module.js"></script>
    <script src="~/app/filters/filter.module.js"></script>

    <!-- App Services -->
    <script src="~/app/filters/app.filters.js"></script>
    <script src="~/app/services/censor.service.js"></script>
    <script src="~/app/services/people.service.js"></script>
    <script src="~/app/services/user.service.js"></script>
    <script src="~/app/services/configuration.service.js"></script>

    <!-- App Modules -->
    <script src="~/app/home/home.module.js"></script>
    <script src="~/app/home/home.js"></script>
    <script src="~/app/censors/censors.module.js"></script>
    <script src="~/app/censors/manager.js"></script>
    <script src="~/app/people/people.module.js"></script>
    <script src="~/app/people/manager.js"></script>
    <script src="~/app/configuration/settings.module.js"></script>
    <script src="~/app/configuration/manager.js"></script>
    <script src="~/app/users/users.module.js"></script>
    <script src="~/app/users/users.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>